#Pandas Datatypes:

Pandas is an amazing Python library for data analysis and when you make a data analysis, cleaning the data is the most important stage. Of course cleaning data doesn't mean just NA handling, or duplicated data handling, when you receive a dataset, the first thing you should do is decide on data types column by column because data type will affect your program and analysis forever, meaning, you will use these data types while exporting the data to a Database, measuring KPIâ€™s in further stages or how efficient you use the storage and performance. In this Lab, we will review the Pandas data types in a comprehensive way step by step. Let's start

In this lab, we will be focusing on the following data types.

*   Object
*   Integer
*   Float
* DateTime
* Bool

In [1]:
import pandas as pd

### Review the data

In [23]:
df = pd.read_csv(r'employee_info.csv')
df

,employee_id,employee_name,department,working_hours,salary,salary_bonus,data_of_birth,active
0,1001.0,Emily Johnson,Human Resources,8.0,"$55,000",5.00%,3/14/1985,Y
1,1002.0,Michael Smith,Finance,8.0,"$72,500",7.50%,7/22/1990,Y
2,1003.0,Olivia Brown,Marketing,8.0,"$88,000",10.00%,1/8/1987,Y
3,1004.0,James Davis,Sales,NaN,"$63,200",6.00%,10/30/1982,N
4,1005.0,Sophia Miller,Information Technology,8.0,"$79,500",8.00%,5/15/1984,Y
5,1006.0,William Wilson,Customer Service,8.0,"$95,000",12.00%,Not Available,Y
6,1007.0,Ava Moore,Research and Development,8.0,"$68,750",9.00%,8/25/1991,Y

Let's assume that we have the sample data above, what do we need first, we need to check and interpret every single column one by one, for this, let's first check all the data types in our dataframe.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   employee_id    7 non-null      float64
 1   employee_name  7 non-null      object
 2   department     7 non-null      object
 3   working_hours  6 non-null      float64
 4   salary         7 non-null      object
 5   salary_bonus   7 non-null      object
 6   data_of_birth  7 non-null      object
 7   active         7 non-null      object
dtypes: float64(2), object(6)
memory usage: 576.0+ bytes

As we have seen here, the info() function helps us to understand essential details of the columns, so we can start to analyze data types.

- **employee_id**: Since we know that an employee ID cannot be 1000.5 or 456.98, we shouldn't keep them as float; this column has to be an integer.
- **employee_name**: We won't change anything in this column because it contains names, and we cannot convert it to another data type.
- **department**: Again, we don't need to change the data type for this column in this example because we need to keep the department name as it is.
- **working_hours**: We would like to make the working hours column an integer data type since it shows the absolute number of hours a person works daily.
- **salary**: This column should be a float because a salary will always have floating digits.
- **salary_bonus**: It seems the data type is an object (string), but the column should be a float because Python won't recognize the '%' character. In order to perform calculations, we should convert them into float numbers, e.g., 10% will be 0.1.
- **date_of_birth**: Naturally, this column should be datetime.
- **active**: When we look at the active column, it shows whether the employee is still actively working at the company. We should have a boolean data type like True and False instead of 'Y' or 'N'.

## Converting Data Types

Ok, so let's convert data types starting from the first column, as we mentioned before it should be integer. The easiest way to convert a pandas column of data to a different type is to use astype().

In [24]:
df.employee_id = df.employee_id.astype(int)

After executing the code above we should see dataframe like below, as you see digits are gone and now we converted successfully.

In [6]:
df

,employee_id,employee_name,department,working_hours,salary,salary_bonus,data_of_birth,active
0,1001,Emily Johnson,Human Resources,8.0,"$55,000",5.00%,3/14/1985,Y
1,1002,Michael Smith,Finance,8.0,"$72,500",7.50%,7/22/1990,Y
2,1003,Olivia Brown,Marketing,8.0,"$88,000",10.00%,1/8/1987,Y
3,1004,James Davis,Sales,NaN,"$63,200",6.00%,10/30/1982,N
4,1005,Sophia Miller,Information Technology,8.0,"$79,500",8.00%,5/15/1984,Y
5,1006,William Wilson,Customer Service,8.0,"$95,000",12.00%,Not Available,Y
6,1007,Ava Moore,Research and Development,8.0,"$68,750",9.00%,8/25/1991,Y

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   employee_id    7 non-null      int64
 1   employee_name  7 non-null      object
 2   department     7 non-null      object
 3   working_hours  6 non-null      float64
 4   salary         7 non-null      object
 5   salary_bonus   7 non-null      object
 6   data_of_birth  7 non-null      object
 7   active         7 non-null      object
dtypes: float64(1), int64(1), object(6)
memory usage: 576.0+ bytes

Let's jump to column working_hours, when we try to use astype() function again, it won't work and **we will get an error** as

> IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [8]:
df.working_hours.astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

The reason behind this is Pandas DataFrame when you attempt to convert a column containing non-finite values (such as NaN or inf) to an integer type. Integer columns cannot handle NaN or infinite values.
So we should first of all handle the NA value in working_hours columns then apply the data type conversion. Check the code below.

In [25]:
df.working_hours = df.working_hours.fillna(0)
df.working_hours = df.working_hours.astype(int)
df

,employee_id,employee_name,department,working_hours,salary,salary_bonus,data_of_birth,active
0,1001,Emily Johnson,Human Resources,8,"$55,000",5.00%,3/14/1985,Y
1,1002,Michael Smith,Finance,8,"$72,500",7.50%,7/22/1990,Y
2,1003,Olivia Brown,Marketing,8,"$88,000",10.00%,1/8/1987,Y
3,1004,James Davis,Sales,0,"$63,200",6.00%,10/30/1982,N
4,1005,Sophia Miller,Information Technology,8,"$79,500",8.00%,5/15/1984,Y
5,1006,William Wilson,Customer Service,8,"$95,000",12.00%,Not Available,Y
6,1007,Ava Moore,Research and Development,8,"$68,750",9.00%,8/25/1991,Y

So we successfully managed to convert working_hours column to integer.

Next, we need to fix the column salary, this is a bit tricky and we have more options to apply and convert data type.

In [20]:
df1 = df
df2 = df #copying df into df1 df2 and df3 to show the following three methods
df3 = df

### **First Method:** Create a custom function and apply the method

In [10]:
def clean_char(x):
    new_x = x.replace('$','').replace(',','')
    new_x = float(new_x)
    return new_x
df1.salary.apply(clean_char)

#This will give the result successfully below

0    55000.0
1    72500.0
2    88000.0
3    63200.0
4    79500.0
5    95000.0
6    68750.0
Name: salary, dtype: float64

### **Second Method**: Using string methods on Pandas

In [17]:
df2.salary.str.replace(',','').str.replace('$','').astype(float)
#This method will also give the same result as above

0    55000.0
1    72500.0
2    88000.0
3    63200.0
4    79500.0
5    95000.0
6    68750.0
Name: salary, dtype: float64

### **Third Method:** Apply Lambda Function

In [19]:
df3.salary.apply(lambda x: x.replace('$','').replace(',','')).astype(float)

0    55000.0
1    72500.0
2    88000.0
3    63200.0
4    79500.0
5    95000.0
6    68750.0
Name: salary, dtype: float64

So the result is again the same. As we know in Python, there are multiple ways to perform a task but there is always one obvious way. In such circumstances, you can choose your own method to keep your code smooth. I will select the first option and apply

Select a final method

In [26]:
def clean_char(x):
    new_x = x.replace('$','').replace(',','')
    new_x = float(new_x)
    return new_x
df.salary = df.salary.apply(clean_char)
df

,employee_id,employee_name,department,working_hours,salary,salary_bonus,data_of_birth,active
0,1001,Emily Johnson,Human Resources,8,55000.0,5.00%,3/14/1985,Y
1,1002,Michael Smith,Finance,8,72500.0,7.50%,7/22/1990,Y
2,1003,Olivia Brown,Marketing,8,88000.0,10.00%,1/8/1987,Y
3,1004,James Davis,Sales,0,63200.0,6.00%,10/30/1982,N
4,1005,Sophia Miller,Information Technology,8,79500.0,8.00%,5/15/1984,Y
5,1006,William Wilson,Customer Service,8,95000.0,12.00%,Not Available,Y
6,1007,Ava Moore,Research and Development,8,68750.0,9.00%,8/25/1991,Y

Next, we need to fix the salay_bonus column and for this, we will apply exactly the same method with the salary column.

In [27]:
def clean_percent(x):
    new_x = x.replace('%','')
    new_x = float(new_x)
    return new_x
df.salary_bonus = df.salary_bonus.apply(clean_percent)/100

This code first cleans the â€˜%â€™ character and keeps the value floating and finally in order to get accurate percentage values as floating numbers we had to divide it to 100 and successfully fix the column.

In [28]:
df

,employee_id,employee_name,department,working_hours,salary,salary_bonus,data_of_birth,active
0,1001,Emily Johnson,Human Resources,8,55000.0,0.050,3/14/1985,Y
1,1002,Michael Smith,Finance,8,72500.0,0.075,7/22/1990,Y
2,1003,Olivia Brown,Marketing,8,88000.0,0.100,1/8/1987,Y
3,1004,James Davis,Sales,0,63200.0,0.060,10/30/1982,N
4,1005,Sophia Miller,Information Technology,8,79500.0,0.080,5/15/1984,Y
5,1006,William Wilson,Customer Service,8,95000.0,0.120,Not Available,Y
6,1007,Ava Moore,Research and Development,8,68750.0,0.090,8/25/1991,Y

Next, we will convert the data type of **data_of_birth column**, it is clearly needs to be in a datetime format but if we try to apply the function as it is we will get an error due to the â€œNot availableâ€ value in index 5. **The error can be seen below**

In [30]:
df.date_of_birth = pd.to_datetime(df.data_of_birth)

ValueError: time data "Not Available" doesn't match format "%m/%d/%Y", at position 5. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

### To tackle this error, we should leave this value as NA but the datetime null value, which is NaT.

In [33]:
df.data_of_birth = pd.to_datetime(df.data_of_birth,errors='coerce')
df

,employee_id,employee_name,department,working_hours,salary,salary_bonus,data_of_birth,active
0,1001,Emily Johnson,Human Resources,8,55000.0,0.050,1985-03-14,Y
1,1002,Michael Smith,Finance,8,72500.0,0.075,1990-07-22,Y
2,1003,Olivia Brown,Marketing,8,88000.0,0.100,1987-01-08,Y
3,1004,James Davis,Sales,0,63200.0,0.060,1982-10-30,N
4,1005,Sophia Miller,Information Technology,8,79500.0,0.080,1984-05-15,Y
5,1006,William Wilson,Customer Service,8,95000.0,0.120,NaT,Y
6,1007,Ava Moore,Research and Development,8,68750.0,0.090,1991-08-25,Y

Using the **errors argument** in our method will help us to forcibly change the data type, basically, it tells whenever you see a value which is not suitable to convert datetime force them to be datetime null, NaT.

As you see above we managed to convert date_of_birth column to datetime. Here is the last view of our data info.

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   employee_id    7 non-null      int64
 1   employee_name  7 non-null      object
 2   department     7 non-null      object
 3   working_hours  7 non-null      int64
 4   salary         7 non-null      float64
 5   salary_bonus   7 non-null      float64
 6   data_of_birth  6 non-null      datetime64[ns]
 7   active         7 non-null      object
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 576.0+ bytes

Finally, we will convert the **active column to bool type**. For this action, the best and easiest way for only 2 conditional values is using Numpy library and np.where function.

In [35]:
import numpy as np
df.active = np.where(df.active=='Y',True, False)

**We say in the code wherever you see â€˜Yâ€™, it will be True otherwise, it is False.**

# Conclusion
The most important stage in data conversion is deciding how you will sustainably use the data in the database, excel file, website etc. Pandas allows us to convert and manipulate the data types efficiently, we just need to decide based on our business needs, which approach will be the best.

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   employee_id    7 non-null      int64
 1   employee_name  7 non-null      object
 2   department     7 non-null      object
 3   working_hours  7 non-null      int64
 4   salary         7 non-null      float64
 5   salary_bonus   7 non-null      float64
 6   data_of_birth  6 non-null      datetime64[ns]
 7   active         7 non-null      bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 527.0+ bytes

**Bonus:** Selecting columns based on datatype.

In [37]:
df.select_dtypes(include=['int'])

   employee_id  working_hours
0         1001              8
1         1002              8
2         1003              8
3         1004              0
4         1005              8
5         1006              8
6         1007              8

Now we can see only integer type columns.

And also opposite way we can exclude integer data types.

In [38]:
df.select_dtypes(exclude=['int'])

,employee_name,department,salary,salary_bonus,data_of_birth,active
0,Emily Johnson,Human Resources,55000.0,0.050,1985-03-14,True
1,Michael Smith,Finance,72500.0,0.075,1990-07-22,True
2,Olivia Brown,Marketing,88000.0,0.100,1987-01-08,True
3,James Davis,Sales,63200.0,0.060,1982-10-30,False
4,Sophia Miller,Information Technology,79500.0,0.080,1984-05-15,True
5,William Wilson,Customer Service,95000.0,0.120,NaT,True
6,Ava Moore,Research and Development,68750.0,0.090,1991-08-25,True

**In this lab We covered more or less everything about core features of data types on Pandas library**