In [ ]:
import pandas as pd
def filling_with_mean(df):
   numeric_columns=df.select_dtypes(include=['number']).columns
   for i in numeric_columns:
     mean_filled=df[i].mean()
     df[i].fillna(mean_filled,inplace=True)

   return df



data={'names':['hira','urwa','areeba','faryal','hira','ayesha'],'ages':[20,22,21,None,27,24],'id':[1,2,3,None,5,6]}
df=pd.DataFrame(data)
print("original dataframe")
print(df)
filled=filling_with_mean(df)
print(filled)

In [ ]:
import pandas as pd
import numpy as np
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Score': [85, np.nan, 90, np.nan, 95],
    'Age': [25, 30, np.nan, np.nan, 22]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
df_dropped = df.dropna(subset=['Score', 'Age'])
print("\nDataFrame after dropping rows where both 'Score' and 'Age' are NaN:")
print(df_dropped)

In [ ]:
import pandas as pd
import numpy as np
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Score': [85, np.nan, 90, np.nan, 95],
    'Age': [25, 30, np.nan, np.nan, 22]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
df_dropped = df.dropna(subset=['Score', 'Age'],how='all')
print("\nDataFrame after dropping rows where both 'Score' and 'Age' are NaN:")
print(df_dropped)

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats
data={'names':['hira','urwa','faryal','ayesha','areeba'],'scores':[12,13,14,15,16]}
df=pd.DataFrame(data)
print(df)
df['z_score']=np.abs(stats.zscore(df['scores']))
sorted_column=df.sort_values('z_score',ascending=False)
identify_top_5_outliers=sorted_column.head(5)
print("the top 5 outliers are")
print(identify_top_5_outliers)
droped_outliers=df.drop(identify_top_5_outliers.index)
print(droped_outliers)

In [ ]:
import pandas as pd
data = {
    'names': ['hira', 'urwa', 'faryal', 'ayesha', 'hira', 'urwa'],
    'scores': [20, 30, 25, 40, 20, 30]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
df_no_duplicates_last = df.drop_duplicates(keep='last')
print("\nDataFrame after removing duplicate rows (keeping last occurrence):")
print(df_no_duplicates_last)

In [ ]:
import pandas as pd
data = {
    'names': ['hira', 'urwa', 'faryal', 'ayesha', 'areeba'],
    'birth_dates': ['2000-05-01', '1999-12-15', '2002-03-22', '1998-07-09', '2001-11-30']
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
df['birth_dates'] = pd.to_datetime(df['birth_dates'])
df['Year'] = df['birth_dates'].dt.year
print("\nDataFrame after extracting the year:")
print(df)

In [ ]:
import pandas as pd
data={'names':['hira','urwa','faryal','ayesha','areeba','maryam','mahnoor'],'scores':['10','20','30','40','50','60','70'],'heights':[4.5,4.6,4.7,4.8,4.9,5.1,4.3]}
df=pd.DataFrame(data)
print(df)
df['scores']=pd.to_numeric(df['scores'],errors='coerce')#string to numeric
df['heights']=df['heights'].astype('int')#float to int
print(df)