In [ ]:
import pandas as pd# i loaded the data from csv
df=pd.read_csv(r'employee_info.csv')
df

In [ ]:
df.info()#here i can see the datatypes of all columns

In [ ]:
df['employee_id']=df['employee_id'].astype(int)
df

In [ ]:
df['working_hours']=df['working_hours'].fillna(0)
df
df['working_hours']=df['working_hours'].astype(int)
df

In [ ]:
df1=df
df['salary']=df.salary.replace('$','',regex=True).replace(',','',regex=True).astype(float)
df
#using lambda function

In [ ]:
df['salary'] = df.salary.astype(str).apply(lambda x: x.replace('$', '').replace(',', '')).astype(float)
df

In [ ]:
df.info()
df

In [ ]:
df['salary_bonus']=df.salary_bonus.replace('%','',regex=True).astype(float)
df['salary_bonus']=df['salary_bonus']/100
df

In [ ]:
df['data_of_birth']=pd.to_datetime(df['data_of_birth'],errors='coerce')
df

In [ ]:
import numpy as np
df.active=np.where(df.active=='Y',True,False)
df
df.select_dtypes(include=['int'])
df.select_dtypes(exclude=['int'])